// Анимаация поднятия фона
.curtain {
  position: absolute;
  bottom: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background: $c-dark;

  transform: translateY(100%);

  transition: transform $medium-animation-speed $basic-animation-function 100ms;

  &--up {
    transform: translateY(0);
  }
}
