.intro__message {
  animation-name: fade-in, rise-up;
  animation-duration: $medium-animation-speed;
  animation-fill-mode: both;
  animation-delay: $medium-animation-speed;
}

.intro__label {
  animation-name: fade-in;
  animation-duration: $medium-animation-speed;
  animation-fill-mode: both;
  animation-delay: $extended-animation-speed;
}
