// Анимация наведения на элементы меню сайта
.page-header__menu a {
  transition: color $basic-animation-speed $basic-animation-function;

  &::after {
    display: block;
    width: 0;

    transition-property: width, background-color;
    transition-duration: $basic-animation-speed;
    transition-timing-function: $basic-animation-function;
  }

  &.active::after {
    width: 0;

    transition-delay: $basic-animation-speed, 0s;
  }

  .js-loaded &.active::after {
    width: 100%;
  }

  &:not(.active)::after {
    left: auto;
    right: 0;

    width: 0;
  }

  &:not(.active):hover::after,
  &:not(.active):focus::after {
    left: 0;
    right: auto;

    width: 100%;
  }
}

// Анимация шапки, меню и футера при изначальной загрузке страницы
.page-header__logo {
  opacity: 0;
  transform: translateX(-$basic-bias);

  transition-property: opacity, transform;
  transition-duration: $medium-animation-speed;
  transition-timing-function: $jumpin-animation-function;

  .js-loaded & {
    opacity: 1;
    transform: translateX(0);
  }
}

.page-header__nav {
  opacity: 0;

  transition: opacity $medium-animation-speed $jumpin-animation-function $basic-animation-speed;

  .js-loaded & {
    opacity: 1;
  }
}
