.prizes__lead {
  animation-name: fade-in, rise-up;
  animation-duration: $basic-animation-speed;
  animation-fill-mode: both;
  animation-delay: $medium-animation-speed;
}

.prizes__item {
  &--journeys .prizes__icon{
    bottom: 0rem;

    @media (max-width: $tablet) and (orientation: landscape) {
      left: 2rem;
      top: -2rem;

      width: 15rem;
    }
  }

  &--cases .prizes__icon {
    position: relative;
    left: -7rem;

    width: 25rem;

    @media (min-width: $stop-scaling) {
      left: -2rem;
      bottom: -0.7rem;

      width: 260px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      left: 0;
      bottom: 0;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      left: -2rem;
      top: -2rem;

      width: 15rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      left: -2rem;
      bottom: -1.3rem;

      width: 10rem;
    }
  }

  &--codes .prizes__icon {
    position: relative;

    @media (max-width: $tablet) and (orientation: landscape) {
       top: -1rem;
       left: 5rem;
    }
  }
}

@media (min-width: $mobile + 1) and (orientation: landscape) {
  .prizes--animated {
    .prizes__item--journeys {
      animation-name: prize-journeys-appear;
      animation-duration: 5s;
      animation-fill-mode: both;
      animation-timing-function: ease;
      animation-delay: 0s;

      .prizes__desc b {
        animation-name: fade-in;
        animation-duration: $basic-animation-speed;
        animation-fill-mode: both;
        animation-delay: 2.5s;
      }

      .prizes__desc span {
        animation-name: arrive-right, fade-in;
        animation-duration: $basic-animation-speed;
        animation-fill-mode: both;
        animation-delay: 3s;
      }
    }

    .prizes__item--cases {
      animation-name: fade-in;
      animation-duration: 250ms;
      animation-fill-mode: both;
      animation-timing-function: ease;
      animation-delay: 4.5s;

      .prizes__desc b {
        animation-name: fade-in;
        animation-duration: $basic-animation-speed;
        animation-fill-mode: both;
        animation-delay: 5.5s;
      }

      .prizes__desc span {
        animation-name: arrive-right, fade-in;
        animation-duration: $basic-animation-speed;
        animation-fill-mode: both;
        animation-delay: 6s;
      }
    }

    .prizes__item--codes {
      animation-name: fade-in;
      animation-duration: 500ms;
      animation-fill-mode: both;
      animation-timing-function: ease;
      animation-delay: 6.5s;

      .prizes__desc b {
        animation-name: fade-in;
        animation-duration: $basic-animation-speed;
        animation-fill-mode: both;
        animation-delay: 7.5s;
      }

      .prizes__desc span {
        animation-name: arrive-right, fade-in;
        animation-duration: $basic-animation-speed;
        animation-fill-mode: both;
        animation-delay: 8s;
      }
    }
  }

  .prizes__desc span {
    padding-bottom: 2rem;
  }
}
