// Анимация появления текстов истории

.slider__item-text {
  opacity: 0;

  .swiper-slide-active & {
    animation-name: appear-text;
    animation-duration: $medium-animation-speed;
    animation-timing-function: $basic-animation-function;
    animation-delay: $basic-animation-speed;;
    animation-fill-mode: forwards;
  }

  .swiper-slide-next & {
    animation-name: appear-text;
    animation-duration: $medium-animation-speed;
    animation-timing-function: $basic-animation-function;
    animation-delay: $medium-animation-speed;
    animation-fill-mode: forwards;
  }

  .slider__item:not(.swiper-slide-active):not(.swiper-slide-next) & {
    opacity: 0;

    animation: none;
  }
}

.slider__control {
  animation-play-state: running;

  will-change: transform;

  &--prev {
    animation-name: slider-control-left-appear;
    animation-duration: $medium-animation-speed;
    animation-timing-function: $bumpin-animation-function;
    animation-delay: $basic-animation-speed;
    animation-fill-mode: both;
  }

  &--next {
    animation-name: slider-control-right-appear;
    animation-duration: $medium-animation-speed;
    animation-timing-function: $bumpin-animation-function;
    animation-delay: $medium-animation-speed;
    animation-fill-mode: both;
  }
}
