// Смена состояний иконки «поделиться» и иконок соц. сетей
@media (min-width: $mobile + 1) and (orientation: landscape) {
  .social-block__toggler {
    transition: color $basic-animation-speed $basic-animation-function;

    &::before {
      transition-property: width, height;
      transition-duration: $basic-animation-speed;
      transition-timing-function: $basic-animation-function;

      // Анимация бампа при первом пояалении меню
      animation-name: appear-social;
      animation-duration: $basic-animation-speed;
      animation-timing-function: $bumpin-animation-function;
      animation-delay: $basic-animation-speed;
      animation-fill-mode: forwards;
    }

    &--down,
    &--down:focus{
      color: $c-light;

      &::before {
        width: 100%;
        height: 100%;

        background-color: $c-purple;
        border-color: $c-purple;
      }
    }
  }

  .social-block .social-block__list {
    opacity: 1;
  }

  .social-block__link {
    opacity: 0;
    transform: translateY($basic-bias);

    .social-block:hover &,
    .social-block--active &,
    .social-block__toggler:focus + .social-block__list & {
      opacity: 1;
      transform: translateY(0);

      transition-property: transform, opacity, color;
      transition-duration: $basic-animation-speed;
      transition-timing-function: ease-out;

      &--fb {
        transition-delay: 0ms;
      }

      &--insta {
        transition-delay: 100ms, 100ms, 0ms;
      }

      &--vk {
        transition-delay: 200ms, 200ms, 0ms;
      }
    }

    &:focus {
      opacity: 1;
    }
  }

  .social-block .social-block__link {
    transition-property: transform, opacity;
    transition-duration: $basic-animation-speed;
    transition-timing-function: $basic-animation-function;
    transition-delay: $basic-animation-speed, 0ms;
  }
}
