$basic-animation-speed: 0.35s;
$medium-animation-speed: 0.75s;
$extended-animation-speed: 1.5s;

$basic-animation-function: ease;
$jumpin-animation-function: cubic-bezier(0.45, 0.9, 0.5, 1);
$bumpin-animation-function: cubic-bezier(.75,2,.7,1);

$basic-bias: 1rem;
$medium-bias: 3rem;
