$basic-transition-speed: 0.35s;
$basic-transition-function: ease;

// Анимация наведения на элементы меню сайта
.page-header__menu a {
  transition: color $basic-transition-speed $basic-transition-function;

  &::after {
    display: block;
    transition: background-color $basic-transition-speed $basic-transition-function;
  }

  &:not(.active)::after {
    width: 0;
    transition: width $basic-transition-speed $basic-transition-function;
  }

  &:not(.active):hover::after {
    width: 100%;
  }
}

// Смена состояний иконки «поделиться» и иконок соц. сетей
.social-block__toggler {
  transition: color $basic-transition-speed $basic-transition-function;

  &::before {
    transition-property: width, height;
    transition-duration: $basic-transition-speed;
    transition-timing-function: $basic-transition-function;
  }
}

.social-block__link {
  opacity: 0;
  transform: translateY(15px);

  &--fb {
    transition-property: transform, opacity, color;
    transition-duration: $basic-transition-speed;
    transition-timing-function: $basic-transition-function;
    transition-delay: 0ms;
  }

  &--insta {
    transition-property: transform, opacity, color;
    transition-duration: $basic-transition-speed;
    transition-timing-function: $basic-transition-function;
    transition-delay: 100ms, 100ms, 0ms;
  }

  &--vk {
    transition-property: transform, opacity, color;
    transition-duration: $basic-transition-speed;
    transition-timing-function: $basic-transition-function;
    transition-delay: 200ms, 200ms, 0ms;
  }

  .social-block--active & {
    transform: translateY(0);
    opacity: 1;
  }
}
