$basic-animation-speed: 0.35s;
$basic-animation-function: ease;
$medium-animation-speed: 0.75s;

// Анимация наведения на элементы меню сайта
.page-header__menu a {
  transition: color $basic-animation-speed $basic-animation-function;

  &::after {
    display: block;

    transition: background-color $basic-animation-speed $basic-animation-function;
  }

  &:not(.active)::after {
    left: auto;
    right: 0;

    width: 0;

    transition: width $basic-animation-speed $basic-animation-function;
  }

  &:not(.active):hover::after,
  &:not(.active):focus::after {
    left: 0;
    right: auto;

    width: 100%;
  }
}

// Смена состояний иконки «поделиться» и иконок соц. сетей
@media (min-width: $tablet + 1) and (orientation: landscape) {
  .social-block__toggler {
    transition: color $basic-animation-speed $basic-animation-function;

    &::before {
      transition-property: width, height;
      transition-duration: $basic-animation-speed;
      transition-timing-function: $basic-animation-function;
    }
  }

  .social-block .social-block__list {
    opacity: 1;
  }

  .social-block__link {
    opacity: 0;
    transform: translateY(15px);

    .social-block:hover &--fb {
      transition-property: transform, opacity, color;
      transition-duration: $basic-animation-speed;
      transition-timing-function: $basic-animation-function;
      transition-delay: 0ms;
    }

    .social-block:hover &--insta {
      transition-property: transform, opacity, color;
      transition-duration: $basic-animation-speed;
      transition-timing-function: $basic-animation-function;
      transition-delay: 100ms, 100ms, 0ms;
    }

    .social-block:hover &--vk {
      transition-property: transform, opacity, color;
      transition-duration: $basic-animation-speed;
      transition-timing-function: $basic-animation-function;
      transition-delay: 200ms, 200ms, 0ms;
    }

    .social-block--active & {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .social-block .social-block__link {
    transition: opacity $basic-animation-speed $basic-animation-function $basic-animation-speed;
    transform: translateY(0);
  }
}

// Анимация появления текстов истории
.slider__item-text {
  opacity: 0;
  transform: translateX(50px);

  transition: all $medium-animation-speed $basic-animation-function $basic-animation-speed;

  .swiper-slide-active &,
  .swiper-slide-next & {
    opacity: 1;
    transform: translateX(0);
  }
}

.slider__item:nth-child(2n) .slider__item-text {
  transition-delay: $medium-animation-speed;
}

// Появлние текстового поля
.form {
  justify-content: flex-end;

  .form__field {
    flex-grow: 1;

    animation-name: input-appear;
    animation-duration: $medium-animation-speed;
    animation-fill-mode: forwards;
  }

  .form__button {
    flex-grow: 0;
  }
}

@keyframes input-appear {
  from {
    width: 50px;
    flex-grow: 0;
  }

  to {
    flex-grow: 1;
  }
}

// Появлние блока «Отгадай первым место назначения»

.intro__message {
  animation-name: fade-in;
  animation-duration: $medium-animation-speed;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
